<%- layout('layout/dashboard') %>
<div class="p-2">
  <%- include("../../partials/flash") %>
  <div class="container card p-4 table-responsive">
    <table class="table table-striped table-inverse table-responsive" id="myTable">
    <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Project</th>
            <th>Created Date</th>
            <th>Ticket Type</th>
            <th>Ticket Status</th>
            <th>Ticket Priority</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% tickets.forEach((ticket) => { %>
            <% var options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' } %>
                <tr>
                    <td><%- ticket.id %></td>
                    <td><%- ticket.title %></td>
                    <td><%- ticket.project.project_name %></td>
                    <td><%- ticket.createdAt.toLocaleDateString("en-US", options) %></td>
                    <td><%- ticket.ticketType.name %></td>
                    <td><%- ticket.ticketStatus.name %></td>
                    <td><%- ticket.ticketPriority.name %></td>
                    <td class='d-flex no-wrap'>
                        <a href="ticket/details/<%- ticket.id %>" className='text-primary'>
                            <i class="bi bi-eye-fill text-primary fs-4 pe-1"></i>
                        </a>
                        <a href="ticket/updateTicket/<%- ticket.id %>" className='text-warning'>
                            <i class="bi bi-pencil-square text-warning fs-4 pe-1"></i>
                        </a>
                        <a href='#' className='text-danger' data-bs-toggle="modal" data-bs-target="#model<%- ticket.id %>">
                            <i class="bi bi-trash3-fill text-danger fs-4 pe-1"></i>
                        </a>
                    </td>
                </tr>
                
                <!-- Modal -->
                <div class="modal fade" id="model<%- ticket.id %>" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            <div class="modal-body">
                                <h4>Ticket Title: <span class="text-muted"><%- ticket.title %></span></h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <form action="/dashboard/ticket/<%= ticket.id %>/archive" method="POST">
                                    <input type="hidden" value="<%= ticket.id %>" name="ticketId">
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            <% }) %>
        </tbody>
    </table>
  </div>
  
    
</div>

<script
src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
crossorigin="anonymous"></script>
<script type="text/javascript" src="/plugins/DataTables/datatables.min.js"></script>
<script src="/js/ticket.js"></script>
