<%- layout('layout/dashboard') %>

  <div class="container col-lg-10 mt-3 p-3">
    <%- include("../../partials/flash") %>
    <div class="card shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <h4 class="card-title fw-bold p-2">Project List</h4>
          </div>
          <div class='col-2 offset-6'>
            <a href="/dashboard/projects/new">
              <button type="button" class="btn btn-theme-dark align-center">
                Add Project 
              </button>
            </a>
          </div>
          
        </div>
        <table class='table table-hover table-bordered align-middle'>
            <thead class='align-middle'>
                <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Priority</th>
                    <th>Team</th>
                    <th class='col-1 text-center'>Ticket Count</th>
                    <th class='col-2 text-center'>Details</th>
                </tr>
            </thead>
            <tbody >
                <% projects.forEach(proj => { %>
                  <tr>
                    <td><a href="/dashboard/projects/<%= proj.id %>/view" class="text-decoration-none text-dark"><%= proj.project_name %></a></td>
                    <td><%= proj.project_start %> </td>
                    <td><%= proj.project_end %> </td>
                    <td><%= proj.projectPriority.name %> </td>
                    <td><i class="bi bi-people fs-4"></i></td>
                    <td class='text-center'><%= proj.tickets.length %></td>
                    <td class='text-center'>    
                      <a href="/dashboard/projects/<%= proj.id %>/view"><i class="bi bi-eye-fill text-primary fs-4 pe-1"></i></a>
                      <a href="/dashboard/projects/<%= proj.id %>/update"><i class="bi bi-pencil-square text-warning fs-4 pe-1"></i></a>
                      <a data-bs-toggle="modal" data-bs-target="#deleteModalProjectID<%=proj.id%>"><i class="bi bi-trash3-fill text-danger fs-4 pe-1" id="deleteButton"></i></a>
                  </td>
                  </tr>

                  <!-- modal -->
                  <div
                    class="modal fade"
                    id="deleteModalProjectID<%=proj.id%>"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Confirm Delete
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete this project?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <form
                          class="d-inline"
                          action="/dashboard/projects/<%=proj.id%>/delete?_method=DELETE"
                          method="POST"
                        >
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                <% }) %> 
      
            </tbody>
        </table>
      </div>
    </div>
    

    <!-- <div class='d-flex mb-3'>
        {/* <input type='text' class='col-2' placeholder='search...' onChange={handleSearch} /> */}
        <div class='col-3 offset-3'><h1>Project List</h1></div>
        <Link to='/projects/new' class='col-2 offset-2'><button type="button" class="btn btn-outline-info btn-lg">Add Project</button></Link>
    </div>


    <div class='row'>
        <div class='col-2'>
          <select name="project_priority" class="form-control" onChange={handleFilter} required>
              <option value="">Filter Priority</option>
              <option value="Urgent">Urgent</option>
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
          </select>
        </div>
        <div class='col-2'>
          <select name="project_priority" class="form-control" onChange={handleSort} required>
              <option value="">Sort by</option>
              <option value="nameUp">Name (A to Z)</option>
              <option value="nameDown">Name (Z to A)</option>
              <option value="priorityUp">Priority (A to Z)</option>
              <option value="priorityDown">Priority (Z to A)</option>
          </select>
        </div>
    </div>

<ProjectTable data={currentProject}/>
{/* {currentProject.length > 1 ? (
  <Pagination 
  projectPerPage={projectPerPage} 
  totalProjects={projectList.length} 
  paginate={paginate}
  handlePreviousPage={handlePreviousPage}
  handleNextPage={handleNextPage}
  currentPage={currentPage} 
        />
) : (
  ""
)} */}

<Pagination2 
  itemsPerPage={projectPerPage} 
  totalItems={filteredProjects.length} 
  paginate={paginate}
  handlePreviousPage={handlePreviousPage}
  handleNextPage={handleNextPage}
  currentPage={currentPage} 
        /> -->


</div>